Repository hubmapconsortium/hra-ui, pull requests merged in 2025-09, with the labels that each got.

#1646 Add KG app in developer applications section
  apps/apps.humanatlas.io/public/assets/apps.json
  libs/design-system/assets/ui-images/knowledge-graph-metadata.png
Labels: update: text 📝, apps.humanatlas.io

#1699 Add correct route on doc page to Cell Population Graph app
  apps/humanatlas.io/src/assets/content/cell-population-graphs/data.yaml
Labels: humanatlas.io, update: text 📝

#1684 Ds table focus state fixes
  libs/design-system/table/src/lib/table/table.component.scss
  libs/design-system/table/src/lib/table/table.component.stories.ts
Labels: bug 🐛, app: design system storybook

#1711 Adding privacy preferences modal to design system
  libs/design-system/privacy/privacy-preferences-modal/ng-package.json
  libs/design-system/privacy/privacy-preferences-modal/src/index.ts
  libs/design-system/privacy/privacy-preferences-modal/src/lib/privacy-preferences-modal.component.html
  libs/design-system/privacy/privacy-preferences-modal/src/lib/privacy-preferences-modal.component.scss
  libs/design-system/privacy/privacy-preferences-modal/src/lib/privacy-preferences-modal.component.spec.ts
  libs/design-system/privacy/privacy-preferences-modal/src/lib/privacy-preferences-modal.component.stories.ts
  libs/design-system/privacy/privacy-preferences-modal/src/lib/privacy-preferences-modal.component.ts
Labels: app: design system storybook, ⚙️ hra-ds: new 🆕, apps.humanatlas.io
