Repository hubmapconsortium/hra-ui, pull requests merged in 2025-07, with the labels that each got.

#1404 Update secondary button route to publication DOI
  apps/humanatlas.io/src/assets/content/ftu-explorer-page/data.yaml
Labels: update: text 📝

#1421 Update HRA Organ Gallery page
  apps/humanatlas.io/src/app/components/section-cards/section-cards.component.spec.ts
  apps/humanatlas.io/src/assets/content/organ-gallery-page/data.yaml
  apps/humanatlas.io/src/assets/content/organ-gallery-page/images/organ_gallery.png
  libs/design-system/navigation/header/src/lib/static-data/menus.json
Labels: humanatlas.io

#1407 EUI - Organ Info Component Design Update
  apps/ccf-organ-info/EMBEDDING.md
  apps/ccf-organ-info/README.md
  apps/ccf-organ-info/project.json
  apps/ccf-organ-info/src/app/app-web-component.component.ts
  apps/ccf-organ-info/src/app/app.component.html
  apps/ccf-organ-info/src/app/app.component.scss
  apps/ccf-organ-info/src/app/app.component.ts
  apps/ccf-organ-info/src/app/app.config.ts
  apps/ccf-organ-info/src/app/app.module.ts
  apps/ccf-organ-info/src/app/components/organ/organ.component.html
  apps/ccf-organ-info/src/app/components/organ/organ.component.scss
  apps/ccf-organ-info/src/app/components/organ/organ.component.ts
  apps/ccf-organ-info/src/app/core/core.module.ts
  apps/ccf-organ-info/src/app/core/store/store.module.ts
  apps/ccf-organ-info/src/app/features/organ/organ.component.html
  apps/ccf-organ-info/src/app/features/organ/organ.component.scss
  apps/ccf-organ-info/src/app/features/organ/organ.module.ts
  apps/ccf-organ-info/src/app/features/slide-toggle/slide-toggle/slide-toggle.component.html
  apps/ccf-organ-info/src/app/features/slide-toggle/slide-toggle/slide-toggle.component.scss
  apps/ccf-organ-info/src/app/features/slide-toggle/slide-toggle/slide-toggle.component.ts
  apps/ccf-organ-info/src/app/features/slide-toggle/slide-toggle/slide-toggle.module.ts
  apps/ccf-organ-info/src/app/modules/link-cards/link-cards.component.html
  apps/ccf-organ-info/src/app/modules/link-cards/link-cards.component.scss
  apps/ccf-organ-info/src/app/modules/link-cards/link-cards.component.ts
  apps/ccf-organ-info/src/app/modules/link-cards/link-cards.module.ts
  apps/ccf-organ-info/src/app/modules/stats-list/stats-list.component.html
  apps/ccf-organ-info/src/app/modules/stats-list/stats-list.component.scss
  apps/ccf-organ-info/src/app/modules/stats-list/stats-list.component.ts
  apps/ccf-organ-info/src/app/modules/stats-list/stats-list.module.ts
  apps/ccf-organ-info/src/app/services/organ-lookup/organ-lookup.service.ts
  apps/ccf-organ-info/src/index.html
  apps/ccf-organ-info/src/main.ts
  apps/ccf-organ-info/src/polyfills.ts
  apps/ccf-organ-info/src/styles.scss
  apps/ccf-organ-info/src/webcomponent-example.html
  apps/ccf-organ-info/tsconfig.app.json
  libs/ccf-shared/src/lib/config/global-config.state.ts
  libs/design-system/table/src/lib/table/table.component.scss
  libs/design-system/table/src/lib/table/table.component.ts
Labels: apps: ccf-organ-info, Y3: ds-alignment

#1448 Design System - Tabs
  libs/design-system/src/lib/providers.ts
  libs/design-system/styles/_theming.scss
  libs/design-system/styles/overrides/_index.scss
  libs/design-system/styles/overrides/_tabs.scss
  libs/design-system/tabs/ng-package.json
  libs/design-system/tabs/src/index.ts
  libs/design-system/tabs/src/lib/tabs/providers.ts
  libs/design-system/tabs/src/lib/tabs/tabs.component.stories.ts
Labels: app: design system storybook, ⚙️ hra-ds: new 🆕, atomic design: molecule
