Repository hubmapconsortium/hra-ui, pull requests merged in 2025-04, with the labels that each got.

#1040 Publications text content update
  apps/humanatlas.io/src/assets/content/pages/team.yaml
Labels: update: text 📝

#1053 Update carousel in humanatlas.io
  apps/humanatlas.io/src/assets/content/pages/landing-page.yaml
  apps/humanatlas.io/src/assets/images/carousel-biorxiv.png
  apps/humanatlas.io/src/assets/images/carousel-nature-cell-biology.png
  apps/humanatlas.io/src/assets/images/carousel-nature-communications.png
  apps/humanatlas.io/src/assets/images/carousel-nature-methods.png
  apps/humanatlas.io/src/assets/images/carousel_sennet.svg
Labels: app: humanatlas.io, content required, update: cosmetics 💄, update: text 📝

#1086 Update CTA bar message and route
  apps/humanatlas.io/src/app/components/toolbar/toolbar.component.html
Labels: update: text 📝

#1094 Add new consortia count to landing page
  apps/humanatlas.io/src/assets/content/pages/landing-page.yaml
Labels: app: humanatlas.io, update: text 📝

#1112 Design System - Add 404 Error Page
  apps/apps.humanatlas.io/src/app/app.routes.ts
  libs/design-system/error-pages/README.md
  libs/design-system/error-pages/ng-package.json
  libs/design-system/error-pages/not-found-page/ng-package.json
  libs/design-system/error-pages/not-found-page/src/index.ts
  libs/design-system/error-pages/not-found-page/src/lib/not-found-page.component.html
  libs/design-system/error-pages/not-found-page/src/lib/not-found-page.component.scss
  libs/design-system/error-pages/not-found-page/src/lib/not-found-page.component.spec.ts
  libs/design-system/error-pages/not-found-page/src/lib/not-found-page.component.stories.ts
  libs/design-system/error-pages/not-found-page/src/lib/not-found-page.component.ts
  libs/design-system/error-pages/src/index.ts
  libs/design-system/error-pages/src/lib/error-pages.module.ts
Labels: app: design system storybook

#1116 EUI Height Fixes & Other Improvements
  apps/ccf-eui/src/app/app.component.html
  apps/ccf-eui/src/app/app.component.scss
  apps/ccf-eui/src/app/app.component.ts
  apps/ccf-eui/src/app/app.module.ts
  libs/ccf-body-ui/src/lib/body-ui/body-ui.component.ts
Labels: app: ccf-body-ui-wc
