Repository hubmapconsortium/hra-ui, pull requests merged in 2025-05, with the labels that each got.

#1114 Design System - Add 500 Error Page
  apps/apps.humanatlas.io/src/app/app.routes.ts
  libs/design-system/error-pages/server-error-page/ng-package.json
  libs/design-system/error-pages/server-error-page/src/index.ts
  libs/design-system/error-pages/server-error-page/src/lib/server-error-page.component.html
  libs/design-system/error-pages/server-error-page/src/lib/server-error-page.component.scss
  libs/design-system/error-pages/server-error-page/src/lib/server-error-page.component.spec.ts
  libs/design-system/error-pages/server-error-page/src/lib/server-error-page.component.stories.ts
  libs/design-system/error-pages/server-error-page/src/lib/server-error-page.component.ts
Labels: app: design system storybook

#1126 EUI - Tissue Metadata List Virtual Scrolling
  apps/ccf-eui/src/app/core/store/list-results/list-results.state.ts
  apps/ccf-eui/src/app/modules/results-browser/results-browser/results-browser.component.html
  apps/ccf-eui/src/app/modules/results-browser/results-browser/results-browser.component.scss
  apps/ccf-eui/src/app/modules/results-browser/results-browser/results-browser.component.ts
  libs/ccf-body-ui/src/lib/body-ui/body-ui.component.scss
Labels: app: ccf-eui

#1138 fix(app:ccf-rui): :ambulance: Fix positioning of AS list's slider popup
  apps/ccf-rui/src/app/modules/left-sidebar/left-sidebar.module.ts
  apps/ccf-rui/src/app/shared/components/visibility-menu/visibility-menu.component.html
  apps/ccf-rui/src/app/shared/components/visibility-menu/visibility-menu.component.ts
  apps/ccf-rui/src/app/shared/components/visibility-menu/visibility-menu.module.ts
  libs/ccf-shared/src/lib/components/opacity-slider/opacity-slider.component.html
Labels: bug 🐛

#1161 Cherry pick netlify ci fixes from develop
  .github/workflows/build-previews.yml
  package-lock.json
  package.json
Labels: tooling

#1121 Design System - Message Indicators (info & danger)
  libs/design-system/indicators/message-indicator/danger-message-indicator/ng-package.json
  libs/design-system/indicators/message-indicator/danger-message-indicator/src/index.ts
  libs/design-system/indicators/message-indicator/danger-message-indicator/src/lib/danger-message-indicator.component.html
  libs/design-system/indicators/message-indicator/danger-message-indicator/src/lib/danger-message-indicator.component.scss
  libs/design-system/indicators/message-indicator/danger-message-indicator/src/lib/danger-message-indicator.component.spec.ts
  libs/design-system/indicators/message-indicator/danger-message-indicator/src/lib/danger-message-indicator.component.stories.ts
  libs/design-system/indicators/message-indicator/danger-message-indicator/src/lib/danger-message-indicator.component.ts
  libs/design-system/indicators/message-indicator/info-message-indicator/ng-package.json
  libs/design-system/indicators/message-indicator/info-message-indicator/src/index.ts
  libs/design-system/indicators/message-indicator/info-message-indicator/src/lib/info-message-indicator.component.html
  libs/design-system/indicators/message-indicator/info-message-indicator/src/lib/info-message-indicator.component.scss
  libs/design-system/indicators/message-indicator/info-message-indicator/src/lib/info-message-indicator.component.spec.ts
  libs/design-system/indicators/message-indicator/info-message-indicator/src/lib/info-message-indicator.component.stories.ts
  libs/design-system/indicators/message-indicator/info-message-indicator/src/lib/info-message-indicator.component.ts
  libs/design-system/indicators/message-indicator/ng-package.json
  libs/design-system/indicators/message-indicator/src/index.ts
  libs/design-system/indicators/message-indicator/src/lib/message-indicator.module.ts
  libs/design-system/styles/_icons.scss
Labels: app: design system storybook

#1208 Rui hotfixes
  apps/ccf-rui/src/app/modules/right-sidebar/right-sidebar.component.html
  apps/ccf-rui/src/app/shared/components/rotation-slider/rotation-slider.component.ts
  libs/ccf-shared/src/lib/components/opacity-slider/opacity-slider.component.html
Labels: bug 🐛
